git:
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never --syntax-theme=gruvbox-dark --line-numbers --side-by-side --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
