/*Gruvbox Material*/
@define-color bg_dim		#1b1b1b;
@define-color bg0 		#282828;
@define-color bg1 		#32302f;
@define-color bg3 		#45403d;
@define-color bg_diff_red	#402120;
@define-color bg_visual_red 	#4c3432;
@define-color bg_diff_blue 	#0e363e;
@define-color fg0		#d4be98;
@define-color red		#ea6962;
@define-color orange		#e78a4e;
@define-color green		#a9b665;
@define-color blue		#7daea3;
@define-color gray2		#a89984;

/*kanagawa.nvim*/
@define-color fujiWhite		#DCD7BA;
@define-color sumiInk1		#1F1F28;
@define-color boatYellow2	#C0A36E;
@define-color surimiOrange	#FFA066;
